*{
  margin: 0;
  padding: 0;
  font-family: bpg_arial;
  /* font-family: ; */
}
h1,h2{
  font-family: nino;
}
@font-face{
  font-family: nino;
  src:url('./fonts/bpg_nino_mtavruli_normal.ttf')
}
@font-face{
  font-family: pbg_arial;
  src:url('./fonts/bpg_arial_2009.ttf')
}

body{
  background-color: rgb(245, 244, 244);
  font-family: nino;
  overflow: hidden;
}




/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5; 
}

.flex{
  display: flex;
}

.custom-navigation{
  color: rgba(0, 0, 0, 0.87);
  transition: 0.5s;
  width: 100%;
}
.custom-navigation:hover{
  text-decoration: none;
}
.custom-navigation i {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.87);
}
.modal-box{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.questions-list{
  height: 450px;
  overflow-y: scroll;
}

.question-form div {
  width: 100%;
}
.MuiDialog-paperWidthSm-149{
  width: 600px;
}

.remove-icon{
  transition: 0.8s;
}
.remove-icon:hover{
  color : #dc3545;
  cursor:pointer;
}


/* Style the tab */
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none!important;
  padding: 15px;
}

.tab-content.current{
  display: inherit!important;
}

.custom-alert_danger{
  background: #d32f2f;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: block;
  width: 95%;
  margin: auto;
  font-size: 20px;
  font-family: pbg_arial;
  border-radius: 3px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}