/* 
    Created on : Jul 4, 2017, 12:43:10 AM
    Author     : Atta-Ur-Rehman Shah (http://attacomsian.com)
*/
/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900');

html,
body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.main-heading {
    border-radius: 50%;
    display: inline-block;
    padding: 8px;
    border: dotted 2px rgba(255, 255, 255, 0.35);
}
.brand-logo{
    width: 180px;
}
.hero{
    height: 100vh;
    min-height: 600px;
} 
a {
    color: rgba(255, 255, 255, 0.55);
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.public-user-info{
    padding-bottom: 10px;
    display:inline-block;
    margin:30px auto;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.35);
}
a:hover,
a:focus {
    color: #fff !important;
    outline: 0;
    text-decoration: none !important;
    border-bottom: none;
}
a.btn:hover,
a.btn:focus {
    color: #fff !important;
}
section{
    padding: 70px 0px;
}
section .inner{
    padding: 4em 4em 2em 4em;
}
@media (min-width:576px){
    .col-fixed{
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
.img-team{
    width: 120px;
}
/*===============================================
* Background Colors
================================================*/
.menu-left{
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px;
}
.menu-left .nav-item{
    padding-bottom: 25px;
}
.menu-left .nav-item i{
    margin-left: 15px;
}
.menu-left .nav-item .nav-link{
    padding-left: 0px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.35);
}
.menu-left .nav-item .nav-link:hover{
    border-bottom: solid 2px rgba(255, 255, 255, 0.95);
}
.menu-left .active{
    border-bottom: solid 2px rgba(255, 255, 255, 0.95) !important;
    color: #fff;
}
/*===============================================
* Background Colors
================================================*/
.bg-alt {
    background-color: #fff;
}
.bg-faded{
    background-color: #D9EDF7;
}
.bg-primary{
    background-color: #7b1fa2 !important;
}
.bg-primary-light{
    background-color: #ae52d4;
}
.bg-primary-dark{
    background-color: #4a0072;
}
.bg-style1{
    background-color: #5052B5;
}
.bg-style2{
    background-color: #4a148c;
}
.bg-style3{
    background-color: #7200ca;
}
/*===============================================
* Text Colors
================================================*/
.text-faded {
    color: #D9EDF7;
}
.text-primary {
    color: #7b1fa2 !important;
}
.text-primary-light {
    color: #ae52d4 !important;
}
.text-primary-dark {
    color: #4a0072 !important;
}
/*===============================================
* Icon Sizes
================================================*/
.icon-lg {
    font-size: 60px;
    line-height: 18px;
}
.icon-md {
    font-size: 50px;
    line-height: 14px;
}
.icon-sm {
    font-size: 30px;
    line-height: 14px;
}
/*===============================================
* Colored Buttons
================================================*/
.btn{
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:focus{
    box-shadow: none;
}
.btn-white:hover {
    background: #ae52d4 !important;
    color: #fff !important;
}
.btn-radius{
    border-radius: 50px;
}
.border-none{
    border: none !important;
    border-color: transparent !important;
}

/*social icons*/
.social-icon a{
    border-bottom: none;
}
.text-twitter-alt, .text-facebook-alt, .text-linkedin-alt, .text-google-alt, .text-github-alt{
    color: rgba(255, 255, 255, 0.55);
}
.text-twitter, .text-twitter-alt:hover{
    color:#00aced;
}
.text-facebook, .text-facebook-alt:hover{
    color: #3b5998;
}
.text-google, .text-google-alt:hover{
    color: #dd4b39;
}
.text-linkedin, .text-linkedin-alt:hover{
    color: #007bb6;
}
.text-github, .text-github-alt:hover{
    color: #000000;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #3f51b5; 
    border-radius: 10px;
  }

  .home-list {
    list-style: none;
    background: #ecf5ff;
    padding: 30px 45px 30px 30px;
    border-radius: 4px;

  }
  .home-list li {
    padding: 10px 0 10px 0;
    color: #000000;
    position: relative;
    
  }
  .home-list li:nth-child(odd) {
    text-align: center;
    border-left: 10px solid #1488F3;
    padding-left: 4px;
    border-bottom: 10px solid #86bfff;
  }
  .home-list li:nth-child(even) {
    text-align: center;
    border-right: 10px solid #1488F3;
    padding-right: 4px;
    border-bottom: 10px solid #86bfff;
  }
  
  .home-list li:nth-child(odd) .remove-icon{
     right: -35px;
  }
  .remove-icon{
     /* float: right; */
     font-size:20px;
     position: absolute;
     right: -45px;
     cursor: pointer;
  }




  .answers-list {
    list-style: none;
    background: #ecf5ff;
    padding: 30px 45px 30px 30px;
    border-radius: 4px;

  }
  .answers-list li {
    padding: 10px 0 10px 0;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #86bfff;
    padding-bottom: 50px;
    
}
.friends-questions{
    position: relative;
 }

 .friends-answers{
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
  }
  .friends-answers li {
    padding-bottom: 50px;
    font-style: italic;
    border:none;
    font-weight: bold;
  }

  .modal-box{
    position: absolute;
    right: 10px;
  }
  .MuiFab-primary-3 {
    color: #3f51b5!important;
    background-color: #fff!important;
}
.MuiDialog-paperWidthSm-31 {
    width: 600px;
}
.MuiFormControl-marginNormal-115 {
    width: 100%!important;
}
.friends-item{
    cursor: pointer;
}





.user-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.user-image-box{
    position: relative;
}
.imageForm {
    position: absolute;
    bottom: -45px;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.imageForm button{
    margin-top: 10px;
}
.user-image-box:hover .imageForm{
    opacity: 1;
}
.imageForm:hover{
    opacity: 1;
}
.file-area {
    width: 120px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    font-size:40px;
    background: rgba(0,0,0, 0.7);
    border-radius:50%;
    cursor: pointer;
    z-index: 999999;
  }
  .file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  .file-area .file-dummy {
    width: 120px;
    height: 120px;
    background: rgba(0,0,0, 0.7);
    transition: background 0.3s ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .file-area .file-dummy .success {
    display: none;
  }
  .file-area:hover .file-dummy {
    background: rgba(0,0,0, 0.7);
  }
  .file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  .file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
  }
  .file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
  }
  .file-area input[type=file]:valid + .file-dummy .default {
    display: none;
  }


  .public-diary-container{
      color: #000000;
      width: 80%;
      margin:20px auto;
  }
  .public-diary-container button{
      background: #28a745;
      width: 200px;
      text-align: center;
      margin: 15px auto;
  }
  .public-diary-container li {
      list-style-type: none;
      margin-bottom: 10px;
      font-size:20px;
  }
  .public-diary-container li span {
      margin-right: 30px;
  }

  .public-diary-container input {
      border:none;
      border-bottom: 1px solid #4a0072;
      width:60%;
      padding: 10px;
  }




  .unauthorized-box{
      width: 100%;
      height: 100vh;
      overflow: hidden;
      font-size:35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #7b1fa2 !important;
  }
  .unauthorized-box div{
      text-align: center;
  }
  .reg-href{
      font-size:25px;
  }



.center-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(
      rgb(190, 160, 226,.8),
      rgba(74,20,140,.9)
      
    ),
    url(https://www.tempositions.com/wp-content/uploads/2016/12/social-work-lecture-series.jpg);
    color: #000000;
}
.center-box a{
    color: #000000;
    font-size: 16px;
}
.center-box a:hover{
    color: #494747!important;
}
  .registration-form {
    width: 500px;
    margin: auto;
    background: aliceblue;
    padding: 50px;
    border-radius: 3px;
  }

  .registration-form div {
      width: 100%;
      margin-bottom: 10px;
  }
  .registration-form .registration-button{
      margin: auto;
      padding: 10px 30px;
  }
  .MuiInputAdornment-positionEnd-58 , .jss58 {
    position: absolute!important;
    right: -85%!important;
  }


  .custom-alert_danger{
    font-size: 16px;
  }
  .alerts .custom-alert_success{
    font-size: 16px;
  }
  .custom-alert_danger{
    background: #d32f2f;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
    width: 95%;
    margin: auto;
    font-size: 20px;
    font-family: pbg_arial;
    border-radius: 3px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  }
  
  .custom-alert_success{
    background: #43a047;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
    width: 95%;
    margin: auto;
    font-size: 20px;
    font-family: pbg_arial;
    border-radius: 3px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  }





  /* Responsive */

  @media only screen and (max-width: 768px) {
    .hero{
        height:auto;
    }
    .registration-form{
        width: auto;
    }
    section .inner{
        padding: 4em 1em 2em 1em;
    }
  }